[Desktop Entry]
Version=1.0
Name=JTDX-VU
Comment=JTDX-VU for VUCG - weak-signal digital modes (JTDX based)
Exec=jtdx
Icon=jtdx_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true
